{% extends "base.html" %}

{% block content %}
    <h1>Sales Order</h1>
    <div class="info container-fluid">
        <p>Bill To</p>
        <p>{{this_dict.customer}} <span class="float-right">Order#: {{this_dict.sale_order}}</span></p>
        <p>{{this_dict.address}}</p>
    </div>
    <div class="container">
        <form class="form-row" action="http://localhost:5500/" method="POST">
          <div class="form-group col-5">
              <label for="item-name">Item</label>
              <select class="form-control" name="item-name" required>
                {% for id,name in items.items() %}
                <option>{{id}}-{{name}}</option>
                }
                {%endfor%}
              </select>
          </div>
          <div class="form-group col">
            <label for="price">Price</label>
            <input type="number" class="form-control" name="price" min="0" required>
          </div>
          <div class="form-group col">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" step="1" min="1" required>
          </div>
          <button type="submit" class="btn btn-primary my-3">Add</button>
        </form>

        <table class="table" id ="myTable">
          <thead class="thead-dark header">
            <tr>
              <th scope="col">Item #</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% if result %}
            {% for value,item in result.items() %}
            <tr>
              <th scope="row">{{item.id}}</th>
              <td>{{item.name}}</td>
              <td>${{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td>${{item.total}}</td>
              <form action="http://localhost:5500/delete/{{value}}" method="GET">
                <td><input type="submit" value="Delete"></td>
              </form>
            </tr>
            {% endfor %}
            {% endif %}
            </tr>

          </tbody>
        </table>
        <div>
            <span class="float-right"><strong>Total:</strong>${{total}}</span>
        </div>

    </div>

    <script>
    function deleteRow(r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
    }
    $("#delete_btn").click(function (r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
      $.ajax({
        url:"http://localhost:5500/{{i}}",
        method:"DELETE"
      });
      return false;
    });
    </script>


{% endblock content %}
